/* reutilizable */
.fullscreen{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.b-animation {
    /* font-size: 62.5%;  con esta linea me aseguro que 1em sera igual a 10 px */
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: white;
}

/* ------------------ cielo ------------------ */
.sky4 {
    background: linear-gradient(160deg, var(--night-top), var(--night-top), var(--night-bottom));
}
.sky4-a {
    animation: fade-off 3s linear 1 forwards;
}
.sky3 {
    background: linear-gradient(160deg, var(--night-top), var(--night-bottom)); 
}
.sky3-a {
    animation: fade-off 3s linear 2s 1 forwards;
}
.sky2 {
    background: linear-gradient(160deg, var(--night-top), rgb(172, 163, 165)); 
}
.sky2-a {
    animation: fade-off 4s linear 3s 1 forwards;
}
.sky1 {
    background: linear-gradient(160deg, powderblue, rgb(174, 199, 203));
}
.sky1-a {
    animation: fade-off 2s linear 7s 1 forwards;
}
.sky {
    background: powderblue; /* (160deg, powderblue, rgb(175, 214, 219)); */
}
.darken-sky {
    background-color: black;
    opacity: 0;
}
.appear-darken-sky {
    animation: appear-darken-sky 1.2s linear 1s 1 forwards;
}
@keyframes appear-darken-sky {
    from {
        opacity: 0;
    }
    to {
        opacity: .15;
    }
}
.fade {
    animation: fade 1.5s linear 1 forwards;
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}
/* ------------------ estrellas ------------------ */
.stars {
    position: absolute;
    background-size: 25%;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}
.fade-off {
    animation: fade-off 5s linear 1 forwards;
}
.appear {
    animation: appear 2s linear 1 forwards;
}
/* ------------------ luna ------------------ */
.moon{
    position: absolute;
    background-size: cover;
    width: 12em;
    height: 12em;
    top: 3em;
    left: 50em;
    opacity: .9;
    transform: rotate(-7deg);
}

/* ------------------ sol ------------------ */
.sun {
    position: absolute;
    width: 12em;
    height: 12em;
    border-radius: 100%;
    background: radial-gradient(rgb(255, 255, 170), rgb(255, 255, 128));
    top: 16em;
    left: 16em;
}
.brightness {
    position: absolute;
    top: 100vh;
    right: -20em;
    width: 44em;
    height: 44em;
    background: radial-gradient(lavender, lavender, powderblue, powderblue);
    border-radius: 100%;
}
.brightness-a {
    animation: sunrise 6s linear 6s 1 forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-off {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sunrise {
    0% {
        opacity: 0;
    }
    20%{
        opacity: .2;
        transform: translate(-1em, -15em);
    }
    40%{
        opacity: .5;
        transform: translate(-2em, -28em);
    }
    60%{
        opacity: 1;
        transform: translate(-8em, -39em);
    }
    80%{
        transform: translate(-14em, -47em);
    }
    100%{
        transform: translate(-21em, -53em);
    }
}