/* reutilizable */
.fullscreen{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.b-animation {
    /* font-size: 62.5%;  con esta linea me aseguro que 1em sera igual a 10 px */
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* ------------------ cielo ------------------ */
.sky4 {
    background: linear-gradient(160deg, var(--night-top), var(--night-top), var(--night-bottom));
}
.sky3 {
    background: linear-gradient(160deg, var(--night-top), var(--night-bottom)); 
}
.sky2 {
    background: linear-gradient(160deg, var(--night-top), rgb(172, 163, 165)); 
}
.sky1 {
    background: linear-gradient(160deg, powderblue, rgb(174, 199, 203));
}
.sky {
    background: powderblue; /* (160deg, powderblue, rgb(175, 214, 219)); */
}
.darken-sky {
    background-color: black;
    opacity: 0;
}
/* ------------------ estrellas ------------------ */
.stars {
    position: absolute;
    background-size: 25%;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}
/* ------------------ luna ------------------ */
.moon{
    position: absolute;
    background-size: cover;
    width: 12em;
    height: 12em;
    top: 3em;
    left: 50em;
    opacity: .9;
    transform: rotate(-7deg);
}

/* ------------------ sol ------------------ */
.sun {
    position: absolute;
    width: 12em;
    height: 12em;
    border-radius: 100%;
    background: radial-gradient(rgb(255, 255, 170), rgb(255, 255, 128));
    top: 16em;
    left: 16em;
}
.brightness {
    position: absolute;
    top: 100vh;
    right: -20em;
    width: 44em;
    height: 44em;
    background: radial-gradient(lavender, lavender, powderblue, powderblue);
    border-radius: 100%;
}

.button-backgound {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 5em;
    height: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}


.sky4-a {
    animation: fade-off 3s linear 1 forwards;
}
.sky3-a {
    animation: fade-off 3s linear 2s 1 forwards;
}
.sky2-a {
    animation: fade-off 4s linear 3s 1 forwards;
}
.sky1-a {
    animation: fade-off 2s linear 7s 1 forwards;
}
.appear-darken-sky {
    animation: appear-darken-sky 1.2s linear 1s 1 forwards;
}
.fade {
    animation: fade 1.5s linear 1 forwards;
}
.fade-off {
    animation: fade-off 5s linear 1 forwards;
}
.appear {
    animation: appear 2s linear 1 forwards;
}
.brightness-a {
    animation: sunrise 6s linear 6s 1 forwards;
}
.brightness-a-skip {
    animation: sunrise 1ms forwards;
}

@keyframes appear-darken-sky {
    from {
        opacity: 0;
    }
    to {
        opacity: .15;
    }
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-off {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sunrise {
    0% {
        opacity: 0;
    }
    20%{
        opacity: .2;
        transform: translate(-1em, -15em);
    }
    40%{
        opacity: .5;
        transform: translate(-2em, -28em);
    }
    60%{
        opacity: 1;
        transform: translate(-8em, -39em);
    }
    80%{
        transform: translate(-14em, -47em);
    }
    100%{
        transform: translate(-21em, -53em);
    }
}


.bush-container {
    position: absolute;
    width: 20em;
    height: 12em;
    bottom: 0;
    right: 20%;
    opacity: 0;
    transform: translateY(12em);
}

.bush-container:hover {
    cursor: pointer;
}
.bush-container:hover .rabbit1{
    animation: appear-rabbit1 500ms linear 1 forwards;
}
.bush-container:hover .rabbit2{
    animation: appear-rabbit2 500ms linear 1 forwards;
}
.bush-container:hover .rabbit3{
    animation: appear-rabbit3 500ms linear 1 forwards;
}

.rabbit-container {
    position: absolute;
    height: 10em;
    width: 4em;
    font-size: 22px;
}
.rabbit1 {
    transform: rotate(-20deg) translateY(10em);
    left: -0.4em;
}
.rabbit2 {
    transform: rotate(2deg) translateY(10em);
    left: 5.3em;
    top: -3.4em;
}
.rabbit3 {
    transform: rotate(24deg) translateY(10em);
    right: -0.8em;
}

@keyframes appear-rabbit1 {
    from {
        transform: translateY(6em);
    }
    to {
        transform: rotate(-20deg) translateY(0);
    }
}
@keyframes appear-rabbit2 {
    from {
        transform: translateY(6em);
    }
    to {
        transform: rotate(2deg) translateY(0);
    }
}
@keyframes appear-rabbit3 {
    from {
        transform: translateY(6em);
    }
    to {
        transform: rotate(24deg) translateY(0);
    }
}