.page {
    position: relative;
}

/* reutilizable */
.fullscreen{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.b-animation {
    /* font-size: 62.5%;  con esta linea me aseguro que 1em sera igual a 10 px */
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* ------------------ cielo ------------------ */
.sky4 {
    background: linear-gradient(160deg, var(--night-top), var(--night-top), var(--night-bottom));
    transition: 1.5s 1.5s linear;
}
.sky3 {
    background: linear-gradient(160deg, var(--night-top), var(--night-bottom));
    transition: 1.5s 3.5s linear;
}
.sky2 {
    background: linear-gradient(160deg, var(--night-top), rgb(172, 163, 165));
    transition: 2s 5s linear;
}
.sky1 {
    background: linear-gradient(160deg, powderblue, rgb(174, 199, 203));
    transition: 1s 6s linear;
}
.sky {
    background: powderblue; /* (160deg, powderblue, rgb(175, 214, 219)); */
}
.darken-sky {
    background-color: black;
    opacity: 0;
    transition: 1.2s 1s linear;
}
/* ------------------ estrellas ------------------ */
.stars {
    position: absolute;
    background-size: 25%;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}
/* ------------------ luna ------------------ */
.moon{
    position: absolute;
    background-size: cover;
    width: 12em;
    height: 12em;
    top: 3em;
    left: 50em;
    opacity: .9;
    transform: rotate(-7deg);
}

/* ------------------ sol ------------------ */
.sun {
    position: absolute;
    width: 12em;
    height: 12em;
    border-radius: 100%;
    background: radial-gradient(rgb(255, 255, 170), rgb(255, 255, 128));
    top: 16em;
    left: 16em;
}
.brightness {
    position: absolute;
    top: 100vh;
    right: -20em;
    width: 44em;
    height: 44em;
    background: radial-gradient(lavender, lavender, powderblue, powderblue);
    border-radius: 100%;
    transition: opacity 1.5s linear;
}

.button-backgound {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 5em;
    height: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.fade-off {
    animation: fade-off 5s linear 1 forwards;
}
.appear {
    animation: appear 2s linear 1 forwards;
}
.brightness-a {
    animation: sunrise 6s linear 6s 1 forwards;
}

/* Con appear y fade-off no puedo usar simplemente una transición ya que ambas animaciones afectan la
    propiedad opacity con diferente duración y son utilizadas por el mismo elemento (moon y stars) */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-off {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sunrise {
    0% {
        opacity: 0;
    }
    20%{
        opacity: .2;
        transform: translate(-1em, -15em);
    }
    40%{
        opacity: .5;
        transform: translate(-2em, -28em);
    }
    60%{
        opacity: 1;
        transform: translate(-8em, -39em);
    }
    80%{
        transform: translate(-14em, -47em);
    }
    100%{
        transform: translate(-21em, -53em);
    }
}


.bush-container {
    position: absolute;
    width: 20em;
    height: 12em;
    bottom: 0;
    right: 20%;
    opacity: 0;
    transform: translateY(12em);
}

.bush-container:hover {
    cursor: pointer;
}
.bush-container:hover .rabbit1{
    transform: rotate(-20deg) translateY(0);
}
.bush-container:hover .rabbit2{
    transform: rotate(2deg) translateY(0);
}
.bush-container:hover .rabbit3{
    transform: rotate(24deg) translateY(0);
}

.rabbit-container {
    position: absolute;
    height: 10em;
    width: 4em;
    font-size: 22px;
    transition: all 0.5s;
}
.rabbit1 {
    transform: rotate(-20deg) translateY(6em);
    left: -0.4em;
}
.rabbit2 {
    transform: rotate(2deg) translateY(6em);
    left: 5.3em;
    top: -3.4em;
}
.rabbit3 {
    transform: rotate(24deg) translateY(6em);
    right: -0.8em;
}

/* Clases necesarias para mantener posicionados los conejos por más que deje de hacerle hover al arbusto
    que es lo que los hace asomarse en un principio (una vez clickeado el arbusto) */
.rabbit1-position{
    transform: rotate(-20deg) translateY(0)
}
.rabbit2-position{
    transform: rotate(2deg) translateY(0)
}
.rabbit3-position{
    transform: rotate(24deg) translateY(0)
}

/* -------------- Rabbits cards ------------------ */

.screenshot {
    position: absolute;
    width: 4em;
    height: 3em;
    top: 4em;
    background-color: red;
}
.screenshot-a {
    animation: screenshot-a 1.6s ease 1;
}

@keyframes screenshot-a {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    60% {
        transform: translate(-4em, -4em);
        opacity: 1;
    }
    100% {
        transform: translate(-7em, 8em);
        opacity: 0;
    }
}

/* ------------ Navbar ------------- */

.container-navbar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 300vh;
}

/* ------------ Projects ------------- */

.b-projects {
    display: flex;
    align-items: center;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
}
.container-projects {
    overflow: hidden;
    width: 94%;
}
.container-projects_scrollable {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;
    transition: left 0.4s, right 0.4s;
}

.projects__button-scroll {
    position: relative;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(45deg);
}
.projects__button-scroll:hover {
    cursor: pointer;
}
.projects__previous-button {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    left: -1em;
}
.projects__next-button {
    border-top: 2px solid white;
    border-right: 2px solid white;
    right: -1em;
}


/* ----------------- Profile ------------------ */

.b-profile {
    height: 100vh;
}